<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FROG_GAME___Beta.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FROG_GAME___Beta.My.MySettings.mathquizConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mathquiz.mdb;Persist Security Info=True;Jet OLEDB:Database Password=admin123"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <FROG_GAME___Beta.My.MySettings>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="music" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="musicVolume" serializeAs="String">
                <value>50</value>
            </setting>
        </FROG_GAME___Beta.My.MySettings>
    </userSettings>
</configuration>